*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  --hdr-gradient: radial-gradient(
    farthest-corner circle at 100% 0% in oklch,
    color(display-p3 25% 25% 100%) 0%,
    color(display-p3 100% 85% 30%) 100%
  );
  --sdr-gradient: radial-gradient(
    farthest-corner circle at 100% 0%,
    #4040ff 0%,
    #ffd713 100%
  );

  background: var(--hdr-gradient);
  margin: 0;
}

.container {
  box-shadow: 0 20px 25px rgb(0, 0, 0, 0.18);
  background-color: rgba(255, 255, 255, 0.3);
  padding: 3rem;
  max-width: 40em;
  border-radius: 8px;
  margin: 1rem;
}

h1 {
  margin-bottom: 2rem;
  text-align: center;
  color: rgb(78, 34, 34);
}

.textarea {
  width: 100%;
  resize: none;
  height: 150px;
  border: 1px solid hsl(30, 100%, 27%);
  border-radius: 4px;
  outline: none;
  font-size: 1rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  transition: transform 0.3s ease-in-out;
}

.textarea:hover {
  transform: scale(1.05);
}

.counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.counter p {
  font-size: 1rem;
  color: hsl(30, 100%, 30%, 0.8);
  font-weight: 400;
}

.total-characters {
  color: rgb(0, 0, 97, 0.7);
  font-weight: bold;
}

.remaining-characters {
  color: red;
  font-weight: bold;
}
